*{
    margin: 0;
    padding: 0;
}

#fundo{
    background-image:url(Apostas-em-Modo-Binario.jpg);   
    background-size: cover;
}

header{
    background-color:darkblue;
    color: white;
    text-align: center;
    padding: 3px;
}

#form{
    background-color: #000986;
    width: 50%;
    height: 540px;
    margin: auto;
    margin-top: 5%;
    padding: 50px;
    border-radius: 7px;
}

.botao_converter{
    background-color: rgb(223, 208, 0);
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 7px;
    color: rgb(58, 58, 58);
    margin-top: 10px;
}

#opcao1{
    height: 40px;
    border-radius: 7px;
}

#opcao2{
    height: 40px;
    border-radius: 7px;
}

#texto_label{
    color: white;
}

#titulo{
    color: white;
    margin-top: auto;
}

footer{
    background-color:darkblue;
    color: white;
    text-align: center;
    padding: 4px;
    position: relative;
    top: 100px;
}